.panel {
    margin: 20px;
    min-height: 325px;
    overflow-y: auto
}

.list-group-item {
    cursor: pointer;
    overflow: hidden;
}

.selected {
    background-color: rgba(173, 217, 230, 0.356);
}
