.panel {
    margin: 20px;
    min-height: 325px;
    overflow-y: auto
}

.list-group-item {
    cursor: pointer;
    overflow: hidden;
}

.selected {
    background-color: rgba(173, 217, 230, 0.356);
}

.fa-remove {
    color: rgba(136, 136, 136, 0.4);
}

.list-group-item:hover .fa-remove {
    color: #333;
}

